body {
  background-color: black;
}

h1 {
  color: blueviolet;
  font-size: 5rem;
  text-align: center;
}
.list {
  color: #fff;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

.list li {
  cursor: pointer;
}

img {
  width: 40rem;
  height: 25rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.link {
  text-decoration: none;
}

.active {
  color: aqua;
}
